body {
   padding: 0;
   margin: 0;
}
#content {
   margin: 20px 40px;
}
.navbar {
   background-color: black;
   overflow: hidden;
}
.navbar a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.navbar a:hover {
   background-color: #ddd;
   color: black;
}

.flash {
   color: red;
   background-color: rgba(255, 0, 0, 0.1);
}

form {
   display: flexbox;
   flex-direction: column;
}

a {
   text-decoration: none;
   color: blue;
}

.add_user {
   background-color: #199319;
   color: white;
   padding: 5px 10px;
   text-decoration: none;
   border-radius: 10px;
}
.add_user:hover {
   background-color: #106310;
}

.user_details {
   display: flex;
   align-items: center;
}
.user_details_img {
   margin: 5px;
   max-width: 200px;
   max-height: 200px;
}
.user_details_info {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.user_details_buttons {
   display: flex;
}

.edit_user_button {
   background-color: #196293;
   color: white;
   padding: 5px 10px;
   text-decoration: none;
   border-radius: 10px;
   margin: 5px;
}
.edit_user_button:hover {
   background-color: #0f3b58;
}

.delete_user_button {
   background-color: #b40000;
   color: white;
   padding: 5px 10px;
   text-decoration: none;
   border-radius: 10px;
   margin: 5px;
}
.delete_user_button:hover {
   background-color: #000000;
   color: #b40000;
}

.add_button {
   background-color: #199319;
   color: white;
   padding: 5px 10px;
   text-decoration: none;
   border-radius: 10px;
   border: none;
   cursor: pointer;
   margin: 5px;
}
.add_button:hover {
   background-color: #106310;
}

.save_button {
   background-color: #199319;
   color: white;
   padding: 5px 10px;
   text-decoration: none;
   border-radius: 10px;
   border: none;
   cursor: pointer;
   margin: 5px;
}
.save_button:hover {
   background-color: #106310;
}

.cancel_button {
   background-color: #cc6d00;
   color: white;
   padding: 5px 10px;
   margin: 0 5px 5px 0;
   text-decoration: none;
   border-radius: 10px;
}
.cancel_button:hover {
   background-color: #8f4c00;
}

.post_cancel_button {
   padding: 10px 0 5px 5px;
}

.post_details_buttons {
   display: flex;
}

.tag_container {
   display: flex;
}

.tag {
   background-color: #14a1ff;
   border-radius: 5px;
   padding: 0px 5px;
   margin: 0 5px;
   text-transform: lowercase;
}

.tag_a {
   color: white;
}
