<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0"
      />
      <link
         rel="stylesheet"
         href="/static/styles.css"
      />
      <title>{% block title %}{% endblock %}</title>
   </head>
   <body>
      <nav class="navbar">
         <a href="/users">Users</a>
         <a href="/tags">Tags</a>
      </nav>
      <main id="content">
         <!-- flash messages -->
         <section class="flash">
            {% for msg in get_flashed_messages() %}
            <p>{{ msg }}</p>
            {% endfor %}
         </section>
         <!-- end flashed messages handler -->
         {% block content %}{% endblock %}
      </main>
      <script src="/static/app.js"></script>
   </body>
</html>
