<!-- extends -->
{% extends 'base.html' %}
<!-- block title -->
{% block title %}Create a new tag{% endblock %}
<!-- block content start-->
{% block content %}
<h1>Create a new tag!</h1>
<form
   action="/tags/new"
   method="POST"
>
   <div>
      <label for="tag_name">Name</label>
      <div>
         <input
            id="tag_name"
            type="text"
            name="tag_name"
            placeholder="Enter a name for the tag"
         />
      </div>
   </div>
   <div class="post_details_buttons">
      <div class="post_cancel_button">
         <a
            href="/tags"
            class="cancel_button"
            >Cancel</a
         >
      </div>
      <div>
         <button class="add_button">Add</button>
      </div>
   </div>
</form>
{% endblock %}
